mixin ripple-btn(button = {})
  -
    const {
      theme,
      size,
      isResponsive = false,
      isReversedColor = false,
      text = 'Button',
      href = false,
      local = false,
    } = button;

    const target = !!local ? '_blank' : false;
    const rel = !!local ? 'noopener noreferrer' : false;

    const tag = href ? 'a' : 'button';
    const entityType = tag === 'button' ? 'submit' : false;

    const themeModifiers = {
      orange: 'ripple-btn_theme_orange',
      mint: 'ripple-btn_theme_mint',
    };

    const sizeModifiers = {
      small: 'ripple-btn_size_small',
      large: 'ripple-btn_size_large',
    };

    const classes = [
      'ripple-btn',
      'js-ripple-btn',
      isReversedColor ? `${themeModifiers[theme]}-reverse` : themeModifiers[theme],
      sizeModifiers[size],
      isResponsive ? 'ripple-btn_width_responsive' : false,
    ];

  #{tag}(
    type= entityType
    href= href
    class= classes
  )
    .ripple-btn__ripple-effect.js-ripple-btn__ripple-effect
      span.ripple-btn__ripple-circle.js-ripple-btn__ripple-circle
    p.ripple-btn__text= text