include ../svg-icon/svg-icon

mixin user-profile(profile = {})
  -
    const {
      avatar = 'fallen-bg.jpg',
      name = 'user',
      job = 'Должность не указана',
      social = [
        { href: 'http://facebook.com', icon: 'facebook' },
        { href: 'http://twitter.com', icon: 'twitter' },
        { href: 'http://dbb.com', icon: 'dbb' },
      ],
    } = profile;
  section.user-profile
    .user-profile__picture(style=`background: no-repeat center/cover url(${require(`../../assets/images/${avatar}`)})`)
    .user-profile__info
      h2.user-profile__info-name= name
      h3.user-profile__info-job= job
      .user-profile__info-social
        each link in social
          -
            const {
              href,
              icon,
            } = link;
          a.user-profile__info-social-link(
            target="_blank"
            rel="noopener noreferrer"
            href= href
          )
            span.user-profile__info-social-link-icon
              +svg-icon({ icon: icon })