include ../percentages-chart/percentages-chart
include ../calendar/calendar
include ../toggles/toggles
include ../percentages-chart/percentages-chart
include ../donut-chart/donut-chart


mixin stats-section (data = {})
  -
    const {
      donutData = [],
      statsTitle = '',
      statsText = '',
      donutTitle = '',
    } = data;
  section.stats-section
    h2.stats-section__title= statsTitle
    .stats-section__container
      p.stats-section__text= statsText
      .stats-section__chart
        +percentages-chart('98')
      p.stats-section__title= donutTitle
      .stats-section__review
        each review in donutData
          .stats-section__review-desc
            div(class="stats-section__review-stat" style=`background-color: ${review.color}; width: ${review.fill}%`)
            p.stats-section__review-title.stats-section__text= review.desc
      .stats-section__chart
        +donut-chart(donutData)