mixin widget-news(news = {})
  -
    const {
      picture = 'gray-bg.jpg',
      pictureUrl = require(`../../components/widget-news/img/${picture}`),
      title = 'title',
      date = '31  jan  2000',
      text = 'news-text',
    } = news;
  section.widget-news
    .widget-news__picture(style=`background-image: url("${pictureUrl}")`)
    .widget-news__information
      h3.widget-news__title= title
      p.widget-news__date= date
      p.widget-news__text= text

