mixin widget-news(news = {})
  -
    const {
      picture = 'gray-bg.jpg',
      title = 'title',
      date = '31  jan  2000',
      text = 'news-text',
    } = news;
  section.widget-news
    .widget-news__picture(style=`background-image: url("${require(`../../components/widget-news/img/${picture}`)}")`)
    .widget-news__information
      h3.widget-news__information-title= title
      p.widget-news__information-date= date
      p.widget-news__information-text= text

