mixin ripple-button(button = {})
  -
    const {
      theme,
      size,
      isResponsive = false,
      isReversedColor = false,
      text = 'Button',
      href = false,
      isLocalHref = false,
    } = button;

    const target = !!isLocalHref ? '_blank' : false;
    const rel = !!isLocalHref ? 'noopener noreferrer' : false;

    const tag = href ? 'a' : 'button';
    const entityType = tag === 'button' ? 'submit' : false;

    const themeModifiers = {
      orange: 'ripple-button_theme_orange',
      mint: 'ripple-button_theme_mint',
    };

    const sizeModifiers = {
      small: 'ripple-button_size_small',
      large: 'ripple-button_size_large',
    };

    const classes = [
      'ripple-button',
      'js-ripple-button',
      isReversedColor ? `${themeModifiers[theme]}-reverse` : themeModifiers[theme],
      sizeModifiers[size],
      isResponsive ? 'ripple-button_width_responsive' : false,
    ];

  #{tag}(
    type= entityType
    href= href
    class= classes
  )
    .ripple-button__ripple-effect.js-ripple-button__ripple-effect
      span.ripple-button__ripple-circle.js-ripple-button__ripple-circle
    p.ripple-button__text= text