mixin news(news = {})
  -
    const {
      picture = 'gray-bg.jpg',
      pictureUrl = require(`../../components/news/img/${picture}`),
      title = 'title',
      date = '31  jan  2000',
      text = 'news-text',
    } = news;
  div(class=("widget-news"))
    div(class="widget-news__picture" style=`background-image: url("${pictureUrl}")`)
    div(class="widget-news__information")
      h3(class="widget-news__title")= title
      p(class="widget-news__date")= date
      p(class="widget-news__text")= text

